.fondo{
    position: absolute; 
    top: 0px;
    left: 0px;
    background: rgb(158, 209, 220);
    width: 100%;
    height: 100%;
    animation-name: fondo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.sol{
    background:rgb(255, 167, 0) ;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -110px; /*para que se esconda*/
    top: 20%; /* para ubicar la altura*/
    border-radius: 100px;
    box-shadow: 0px 0px 0px 10px rgb(255, 140, 0, 0.5); /*sombra del sol*/
    animation-name: sol;
    animation-duration: 20s;
    animation-iteration-count: infinite; /*para que se repita infinitamente*/
}
.nubes{
    

}

@keyframes sol{ /*Elemento para animacion*/
    0%{left: -110px; top: 30%;} /* para que inicie*/
    50%{left: 50%; top: 5%; background:rgb(242, 80, 7);} /*para que suba hasta elmedio*/
    100%{left: calc(100% + 10px); top: 30%; background-color: rgb(187, 208, 226);  box-shadow: 0px 0px 0px 10px rgba(118, 110, 101, 0.5);} /*para que finalice*/
}
@keyframes fondo{
    50%{background: rgb(158, 209, 220) ;}
    100%{background: rgb(12, 57, 67);}
}

