* {
    margin: 0%;
    padding: 0%;
}
.box-main{
    margin: auto;
    background-image: url("../img/atardecer1366_911.jpg");
    width:100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
ul{
    width: 100%;
    text-align: right;
    height: 80px;
}
li {
    padding: 35px 35px;
    color: white;
    font-size: 1.4em;
    display: inline-block;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.last-item {
    margin-right: 80px;
}
