* {
    margin: 0;
    padding: 0;
  }

  .contenedor {
    font-weight: 300;
    background-color: gainsboro;
    display: block;
    border-radius: 7px;
    width: 300px;
    left: 23px;
    top: 23px;
    padding: 20px;
    height: auto;
    position: relative;
    margin: 12px;
  }
  .valor{
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    display:flex ;
    border-radius: 3px;
  }
  input{
    border-radius: 1px;
  }
  progress {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    transition: value 0.5s ease-in-out;
  }
  .sta-Bars{
    width: 500px;
    position: relative;
    left: 23px;
    top: 40px;
  }
  .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
  }