*{
    margin: 0;
    padding: 0;
}
.menu-vertical{
    background-color:gainsboro;
    position: fixed;
    top: 0; /*para que no quede maegen arriba*/
    left: 0;
    height: 100%;
    width: 200px;
}
.one{
    margin: 50px;
    list-style: none;
}
.menu-horizontal{
    background-color:gainsboro;
    height: 100%;
    text-align: right;
}
.li{
    list-style: none;
    margin: 20px; 
    display: inline-block;
}
a{
    text-decoration: none;
}

