h2{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
font-size: 5vh;
font-weight: 700;
}
.box-main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 60px);
    border-top: 3px solid rgb(160, 160, 160);
    width: 900px;
  
}
.box-1{
    grid-column-end: 6;
}
.box{
    font-size: 2em;
    justify-content: center;
    margin-bottom: 3px;
}
.box-8, .box-25{
    background-color: rgb(0,181, 173);
    border-radius: 20px;
}
.box-3, .box-10, .box-17,.box-24, .box-31{
    background: repeating-radial-gradient(rgba(255, 255, 255, 0.158), gray );
    border-radius: 20px;
}
.diembre{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dia{
    border-bottom: dashed 1px black;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    text-align: center;
}