.box-img {
    display: inline-flex ;
}
.img-100 {
    width: 97%;
}
h1{
    text-align: center;
}
.subtitulo {
    text-align: center;
}

.img-torre{
    height: 60%;
    width: 116%;
}
.img-mickey {
    height: 60%;
    width:60%;
}
.img-jungle {
    width: 86%;
    height: 60%;
}

.texto{
    text-align: center;
}

.p{
    text-align: justify;
    width: 27em;
}
.img-genio {
    height: 60%;
    width: 60%;
}