* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    justify-content: center;
    font-size: 8vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
    grid-gap: 30px;
    display: grid;

    grid-template: "header           empty            inicio           pelicula           serie         " 100px
                   "img-principal    img-principal    img-principal    img-principal      img-principal " 550px
                   "news-1           news-2           news-3           news-4             news-5 "              
                   "news-6           news-7           news-8           news-9             news-10 " auto /
                   1fr               1fr              1fr              1fr                1fr;
}

.header,.inicio,.pelicula,.serie,.img-principal,.img-article {
    border-radius: 10px;
    color: white;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    grid-area: header;
    background: rgb(0, 129, 255);
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 15px;
}

.inicio {
    grid-area: inicio;
    background: rgb(10, 75, 139);
    margin-top: 25px;
}

.pelicula {
    grid-area: pelicula;
    background:  rgb(10, 75, 139);
    margin-top: 25px;
}

.serie {
    grid-area: serie;
    background:rgb(10, 75, 139);
    margin-top: 25px;
}

.img-principal {
    grid-area: img-principal;
    background: rgb(102, 139, 0);
    position: relative;
    top: -120px;
    z-index: -1;
}

.img-article {
    height: 250px;
    background: rgb(134, 181, 212);
    position: relative;
    
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.news-1 {
    grid-area: news-1;
}

.news-2 {
    grid-area: news-2;
}

.news-3 {
    grid-area: news-3;
}

.news-4 {
    grid-area: news-4;
}

.news-5 {
    grid-area: news-5;
}

.news-6 {
    grid-area: news-6;
}

.news-7 {
    grid-area: news-7;
}

.news-8 {
    grid-area: news-8;
}

.news-9 {
    grid-area: news-9;
}

.news-10 {
    grid-area: news-10;
}
.text{
    text-align: center;
}
.table, .celular{
    display: none;
}
@media only screen and (max-width: 1024px) {
    .contenedor {
        width: 85%;
        grid-template:
            "header             empty-vas           empty-vas                      inicio            pelicula          serie"           90px
            "img-principal      img-principal       img-principal                  img-principal     img-principal     img-principal"   250px
            "news-1             news-1              news-2                         news-2             news-3           news-3"          
            "news-4             news-4              news-5                         news-5            news-6            news-6"
            "news-7             news-7              news-8                         news-8            news-9            news-9"
            "news-10            news-10             empty-1                        empty-1           empty-1           empty-1"/
           
             1fr                1fr                 1fr                             1fr                1fr              1fr;
    }
.table{
    display: block;
}
.celular, .pc{
display: none;
}
}
@media only screen and (max-width: 640px) {
    .contenedor {
        width: 85%;
        grid-template: "header" 50px
                        "inicio" 50px
                        "pelicula" 50px
                        "serie" 50px
                        "img-principal" 260px
                        "news-1" auto 
                        "news-2" auto
                        "news-3" auto
                        "news-4" auto 
                        "news-5" auto
                        "news-6" auto 
                        "news-7" auto
                        "news-8" auto
                        "news-9" auto
                        "news-10"
                        /
                         1fr;
    }

    .news {
        font-size: .8em;
    }

    .img-principal {
        position: relative;
        top: -300px;
    }
    .img-article {
        position: relative;
        top: -300px;
    }
    .table, .pc {
        display: none;
    }
    .celular{
        display: block;
    }
}