* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.bar-menu {
    position: fixed;
    color: white;
    font-size: 2.2em;
    top: 15px;
    right: 30px;
    visibility: hidden;
}
.main-nav {
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    background-color: rgb(219, 106, 125);
    height: 80px;
}
.main-menu {
    list-style: none;  
    text-align: right; 
}
.href-item {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
}
.item-main-menu {
    height: 80px;
    display: inline-block;
    padding: 30px 45px;   
}
.item-main-menu:hover {
    cursor: pointer;
    background-color: black;
}
.texto-parrafo {
    font-size: 1.2em;
    margin: 120px 60px;
    text-align: justify;
    line-height: 1.3em;
}
@media only screen and (max-width:1152px) {
    .main-nav {
        position: fixed;
        margin-top: 0;
        width: 100%;
        height: 80px;
        background-color: rgb(219, 106, 125);
    }
    .main-menu {
        background-color: rgb(96, 96, 96, .9);
        margin-top: 81px;
        padding: 0;
    }
    .item-main-menu{
        width: 100%;
        display: block;
        line-height: 70px;
        text-align: center;
        padding: 0;
        border-bottom: 1px solid white;
    }
    .item-main-menu:hover{
        background-color: rgba(71, 68, 68, 0.9);
    }
    .bar-menu {
        visibility: visible;
    }
}
