* {
    margin: 0;
}
.box {
background-color:gainsboro;
text-align: right;
}
li {
    list-style: none;
    font-size: 2em; /*tamaño a la leetra*/
   font-family: cursive;
    margin: 20px; 
    display: inline-block;
}

 