/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
}
nav{
    font-size: 1.5em;       
}
nav ul{
    list-style: none;
    padding: 0;
    display: table;
    display: block;
    position: absolute;
    width: 100%;
    background-color:rgb(17,46,102);
    
}
nav li a:hover{
    background-color: rgb(44, 44, 87);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 0 3em;
    color:white;
}
/*Menu primer nivel*/
nav > ul > li {
    float: left;
    position: relative;
    left: 320px;
    line-height: 70px;
}
nav li {
    position: relative;
}
nav li li {
    max-height: 0;
    overflow: hidden;
    border: 1px solid white;
}
nav li:hover > ul > li{
    visibility: visible;
    max-height: 500px;
    overflow: visible;
    background-color:rgb(2, 112, 175);
}
nav ul ul ul {
left: 100%;
top: 0;
}