*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100;
    display: grid;
    grid-template:"logo box-input-busqueda carrito" 65px / 
                    50px   1fr             50px;
}