*{
    margin: 0;
    padding: 0;
    background-color:rgb(255, 230, 234);
}
.main-conte{
    display: grid;
    height: 100vh;
    grid-area: "name  photo" / 100vh
                1fr   1fr      ;
}
.name{
    grid-area: name;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(222, 252, 252);
}
  