* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
  } 
  /*contenedor para las imagenes */
  .imagen{
    width: 17px;
    height: 16px;
  }
  body {
    min-height: 100vh;
    line-height: 1.3;
  }
  .contenedor {
    width: 85%;
    max-width: 25rem;
    margin: 4rem auto;
  }

  /* Titulo grande*/
  .intro {
    text-align: center;
    color: rgb(80, 32, 80);
  }
  .encabezado {
    color:  rgb(80, 32, 80);
    max-width: 12ch;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .text-introduc {
    color:  hsl(303, 10%, 53%);
    max-width: 44ch;
  }
  /* contenedor de los cuadros de estrllas*/
  .cuadrados {
    margin-block: 2.5rem;
  }
  .cubos {
    color: rgb(80, 32, 80);
    background-color: rgb(247,243,247);
    text-align: center;
    padding: .8em;
    border-radius: 8px;
  }
  .calificestrellas {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
  }
  .titulocalifica {
    color:  rgb(80, 32, 80);
    margin-top: .65rem;
    font-weight: 700;
  }
  .cubos + .cubos {
    margin-top: 0.75rem;
  }
  .tarjeta {
    background-color: rgb(80, 32, 80);
    color: white;
    padding: 2em;
    border-radius: 8px;
  }
  /*imagencita pequeña*/
  .logo-imagen {
    width: 2.5rem;
    border-radius: 50%;
  }
  .usuario {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    margin-top: .5rem;
  }
  .nombrecliente {
    font-size: var(--fs-body);
  }
  .nombrecliente-minimo {
    color:rgb(182, 79, 134) ;
    opacity: .67;
    font-weight: 500;
    margin-top: 0.6rem;
  }
  .descripcion {
    margin-top: 1.8rem;
  }
  .tarjeta + .tarjeta {
    margin-top: .75rem;
    background-color: rgb(80, 32, 80);
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    text-decoration: none;
    color: var(--clr-softPink);
  }
  
  /*para que se vea en el celular*/
  @media (min-width: 56.25em) {
    
    .contenedor {
      width: 100%;
      max-width: 70rem;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 1fr) / repeat(2, 1fr);
    }
    .intro {
      text-align: left;
    }
    .opinion {
      grid-column: span 2;
    }
    .encabezado {
      font-size: 3rem;
      margin-inline: 0;
      margin-bottom: 2rem;
    }
    .cubos {
      display: flex;
      gap: 2rem;
      max-width: 25rem;
    }
    .cubos:nth-child(2) {
      transform: translateX(3rem);
    }
    .cubos:nth-child(3) {
      transform: translateX(6rem);
    }
    .calificestrellas {
      margin-left: 1rem;
    }
    .titulocalifica {
      margin-top: 0;
    }
    .opinion {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
    .tarjeta + .tarjeta {
      margin-top: 0;
      transform: translateY(1rem);
    }
    .tarjeta:nth-child(3) {
      transform: translateY(2rem);
    }
    .descripcion {
      max-width: 31ch;
    }
  }