* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main-nav {
    position: absolute;
    width: 100%;
    height: 55px;
    z-index: 30;
}

/* .main-content{
   display: grid;
   grid-template:"empty-left  main-nav    empty-right"
                 "empty-left  box-marco   empty-right" 
                 "empty-left  iconos      empty-right" /
                    1fr       1439px        1fr
} */
.box-marco {
    grid-area: box-marco;
    ;
}

.empty-left {
    grid-area: empty-left;
    background-color: rgb(150, 35, 228);
}

.empty-right {
    grid-area: empty-right;
    background-color: rgb(98, 24, 148);
}

.main-nav {
    grid-area: main-nav;
}

.logo-box {
    float: left;
}

.img-logo {
    height: 40px;
    margin-top: 10px;
    margin-left: 50px;
}

.main-ul {
    list-style: none;
    font-size: 1.3em;
    margin-top: 15px;
    margin-right: 40px;
    text-align: right;
}

.style-li {
    display: inline-block;
}

.style-item {
    color: rgb(245, 237, 237);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 25px 0 25px;
}

.img-toyota-camry {
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    transition: left 2s;
}

.img-toyota-camry-hidden {
    width: 100%;
    position: fixed;
    z-index: 10;
    left: -100%;
    transition: left 2s;
}

.img-toyota-tundra {
    width: 100%;
    grid-area: img-toyota;
    position: fixed;
    z-index: 10;
    left: 0;
    transition: left 2s;
}

.img-toyota-tundra-hidden-left {
    width: 100%;
    position: fixed;
    z-index: 10;
    left: -100%;
    transition: left 2s;
}

.img-toyota-tundra-hidden-right {
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 100%;
    transition: left 2s;
}

.img-toyota-rav4 {
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    transition: left 2s;
}

.img-toyota-rav4-hidden-right {
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 100%;
    transition: left 2s;
}

/* .img-toyota-flower{
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    transition: left 2s;
}
.img-toyota-flower-hidden-right{
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 100%;
    transition: left 2s;
} */
.iconos {
    grid-area: iconos;
    height: 500px;
}

.flecha-adelante {

    top: 46vh;
    position: fixed;
    right: 40px;
    font-size: 40px;
    color: white;
    z-index: 20;
}

.flecha-adelante:hover {
    cursor: pointer;
}

.flecha-atras {
    left: 50px;
    top: 46vh;
    position: fixed;
    z-index: 20;
    font-size: 40px;
    color: white;

}

.flecha-atras:hover {
    cursor: pointer;
}